<%- layout("/layouts/boilerplate") %>

    <div class="xs:row mt-3">
        <h3 class="col-6 offset-3">SignUP Form</h3>
        <div class="xs:col-6 col-10 mx-auto xs:offset-3 mt-2 ">
            <form action="/user/signup" method="post" novalidate class="needs-validation">
                <div>
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter username" class="form-control"
                        required>
                    <div class="invalid-feedback">Please enter unique username</div><br>
                </div>
                <div>
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter email" class="form-control" required>
                    <div class="invalid-feedback">Please enter valid email</div><br>
                </div>
                <div>
                    <label for="password" class="form-label">password</label>
                    <input type="password" name="password" id="password" placeholder="Enter password"
                        class="form-control" required>
                    <div class="invalid-feedback">Please enter strong password</div><br>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>